:root {
  --section-tagline-transform: uppercase;
}

.section-tagline {
  color: var(--color-primary);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  text-transform: var(--section-tagline-transform);
}
