/* Set body text color */
body {
  color: #161616;
}

/* Set anchor text color */
a {
  color: #161616;
}

/* Hide elements with .visually-hidden */
.visually-hidden {
  display: none;
}

/* Set color for elements with .card-category */
.card-category {
  color: #D73953;
}

/* Set color for elements with .section-tagline */
.section-tagline {
  color: #D73953;
}
