:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}
/* Set body text color using variable */
body {
  color: var(--text-color);
}

/* Set anchor text color using variable */
a {
  color: var(--text-color);
}

/* Hide elements with .visually-hidden */
.visually-hidden {
  display: none;
}

/* Use primary color variable */
.card-category {
  color: var(--color-primary);
}

/* Use primary color variable */
.section-tagline {
  color: var(--color-primary);
}
